* {
  box-sizing: border-box;
}

// ------ FLEX

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// ----- POSITION

.pos-rel {
  position: relative;
}

// ---- WIDTH HEIGHT

.w-100per {
  width: 100%;
}

.h-100per {
  height: 100%;
}

.wh-100per {
  width: 100%;
  height: 100%;
}

// ----- TEXT

.text-center {
  text-align: center;
}
